.card {
    /* width: 60rem; */
    margin: 20px;
    background: white;
    position: center;
    align-self: center;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    /* display: flex;
    flex-direction: row; */
}